.card {
    padding: 30px;
    width: 500px;
    min-width: 500px;
    min-height: 300px;
    display: flex;
    margin: 0 auto !important;
}

.col-md-6 {
    margin-bottom: 20px;
}

.imagecard {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.card-img-top {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 250px;
}

