.size-aboutfoto {
    max-width: 400px;
    float: left;
}

.size-aboutfoto1 {
    max-width: 400px;
    float: left;
}

.box {
    border: 2px solid rgb(255, 193, 7);
    text-align: center;
    margin-top: 20px;
}

.about-text {
    text-align: center;
}

.werknemers {
    text-align: center;
}